<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prestonlamb.cs3200.recipe_book"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="prestonlamb.cs3200.recipe_book.Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="prestonlamb.cs3200.recipe_book.AddIngredients"
            android:label="@string/title_activity_add_ingredients"
            android:parentActivityName="prestonlamb.cs3200.recipe_book.NameRecipe" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="prestonlamb.cs3200.recipe_book.Home" />
        </activity>
        <activity
            android:name="prestonlamb.cs3200.recipe_book.AddDirections"
            android:label="@string/title_activity_add_directions"
            android:parentActivityName="prestonlamb.cs3200.recipe_book.AddIngredients" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="prestonlamb.cs3200.recipe_book.AddIngredients" />
        </activity>
        <activity
            android:name="prestonlamb.cs3200.recipe_book.NameRecipe"
            android:label="@string/title_activity_name_recipe"
            android:parentActivityName="prestonlamb.cs3200.recipe_book.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="prestonlamb.cs3200.recipe_book.Home" />
        </activity>
        <activity
            android:name="prestonlamb.cs3200.recipe_book.ViewRecipes"
            android:label="@string/title_activity_view_recipes"
            android:parentActivityName="prestonlamb.cs3200.recipe_book.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="prestonlamb.cs3200.recipe_book.Home" />
        </activity>
        <activity
            android:name="prestonlamb.cs3200.recipe_book.RecipeDetails"
            android:label="@string/title_activity_recipe_details"
            android:parentActivityName="prestonlamb.cs3200.recipe_book.ViewRecipes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="prestonlamb.cs3200.recipe_book.ViewRecipes" />
        </activity>
    </application>

</manifest>
